/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

:-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

:selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 0.3em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*** FONTS ***/
@font-face {
    font-family: 'alternativa_obleregular';
    src: url('../fonts/alternativa_oble-webfont.eot');
    src: url('../fonts/alternativa_oble-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alternativa_oble-webfont.woff2') format('woff2'),
        url('../fonts/alternativa_oble-webfont.woff') format('woff'),
        url('../fonts/alternativa_oble-webfont.ttf') format('truetype'),
        url('../fonts/alternativa_oble-webfont.svg#alternativa_obleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'galaxie polaris';
  src: url('../fonts/galaxiepolaris-medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'galaxie polaris';
  src: url('../fonts/galaxiepolaris-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
      font-family: 'f-alt_icons';
      src: url('../fonts/f-alt_icons.eot');
      src: url('../fonts/f-alt_icons.eot#iefix') format('embedded-opentype'),
           url('../fonts/f-alt_icons.woff') format('woff'),
           url('../fonts/f-alt_icons.ttf') format('truetype'),
           url('../fonts/f-alt_icons.svg#f-alt_icons') format('svg');
      font-weight: normal;
      font-style: normal;
    }

/************* global ***************/

body{
  font-family: "galaxie polaris", Helvetica, "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  color: #363636;
}

.slogan {
  font-family: 'alternativa_obleregular';
  text-transform: lowercase;
  word-break: break-all;
  line-height: 0.75em !important;
  font-weight: normal !important;
}

.cykl {
  display: inline-block;
  line-height: 1.4em;
  border: 2px solid !important;

}

.date-place {
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 12px;
}

.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
:focus {
  outline: none;
}


h1, h2, h3, h4, h5, h6{
  line-height: 1.1em !important;
  margin-top: 0;
}


h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
}
h1.slogan {;
  margin: 0;
  font-size: 60px;;;
}



h1.subtitle {
  font-size: 26px;
}
h2 {
  font-weight: bold;
  font-size: 26px;
  margin-top: 70px;
  margin-bottom: 30px;
}
h2.slogan{
  margin-bottom: -70px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}
h3.slogan {
  font-size: 19px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 24px;
  margin-top: 0;
}


a {
  color: inherit;
  text-decoration: none;
  margin: auto;
  /*display: block; ??????????*/
  padding-bottom: 0.3em;
}
a:hover {
  border-bottom: 0.16em solid;
  padding-bottom: 0.16em;

}
.inline-list {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}
.inline-list > li {
  list-style: none;
  float: left;
  display: block;
  margin-right: 1rem;
}

section.msg {
  display: none;
  width: 100% !important;
  height: initial !important;
  min-height: initial !important;
}

section#cookie-info {
  position: fixed;
  top: 60px;
  padding: 15px 20px;
  background-color: #363636;
  color: white;
  z-index: 999;
}
#cookie-info .close, #newsletter-info .close {
  position: absolute;
  top: 0;
  right: 60px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-family: f-alt_icons;
}
#cookie-info p {
  margin: 0;
  font-size: 14px;
}
#cookie-info p a {
  display: inline;
}
#cookie-info a, #newsletter-info a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
}
#cookie-info a:hover, #newsletter-info a:hover {
  border: none;
}

section#newsletter-info {
  position: fixed;
  top: 0;
  padding: 120px 20px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh !important;
  color: white;
  z-index: 998;
}
#newsletter-info .form-container {
  position: relative;
  width: 28vw;
  height: 50vh;
  margin: 8vh auto;
  padding: 30px 20px;
  background-color: #363636;
}
#newsletter-info .close {
  top: 0;
  right: 0;
}
#newsletter-info h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
#newsletter-info h2.slogan {
  margin-top: 0;
  margin-bottom: 0;
}
#newsletter-info form {
  width: 90%;
}
#newsletter-info .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.preloader {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.ff {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}
.ff p {
  text-align: center;
  font-family: f-alt_icons;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.ff a:hover {
  border: none;
}

section:not(.top-nav) {
  padding: 60px 20px 0px;
  margin: 0 auto;
  width: 1425px;
  min-height: 100vh;
  height: 100%;
}

section:after {
  content: " ";
  display: table;
  clear: both;
}

section.news, section.about {
  margin-bottom: 20px;
}

section h1{
    font-size: 48px;
}
footer {
    height: 100%;
}

footer h2:not(.slogan) {
  border-bottom: solid 2px;
  padding-bottom: 10px;
}

footer:after {
  clear: both;
  content: " ";
  display: table;
}

header {
    margin-top: 20px;
    width: 900px;
    margin-bottom: 24px;
}

/*****ASIDE POWIAZANE*****/
.post aside.linkedTmp {
  width: 263px;
}
aside.linkedTmp footer h2 {
  margin-top: 0;
}
aside.linkedTmp footer h2.slogan {
  margin-bottom: 0;
}

/********** INPUT, BUTTONS ***********/

input {
  font-size: 13px;
  color: #363636;
  border: none;
  display: block;
  padding: 4px 2% 8px;
  margin-bottom: 12px;
  background-color: white;
  border-bottom: 1px solid;
  width: 96%;
  line-height: normal;
}
input[type = submit] {
  width: auto;
}

:input-placeholder {
   color: #363636;
}
:-webkit-input-placeholder {
   color: #363636;
}
:-moz-placeholder { /* Firefox 18- */
  color: #363636; 
}
:-moz-placeholder {  /* Firefox 19+ */
  color: #363636;
}
:-ms-input-placeholder {  
   color: #363636;
}
.warning::-webkit-input-placeholder {
    color: red;
}
.warning:-moz-placeholder {
    color: red;
}
.warning::-moz-placeholder {
    color: red;
}
.warning:-ms-input-placeholder {
    color: red;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.button-wrapper{
  text-align: center;
}
.button{
    font-size: 16px;
    border: solid 2px;
    display: inline-block;
    padding: 6px 9px 9px;
    text-align: center;
    line-height: 1em;
    font-weight: bold;
}


.button:hover {
    color: white;
    background-color: #363636;
    border-color: #363636;
}
  .button a {
    padding-bottom: 0;
}
  .button a:hover {
    border-bottom: none;
    text-decoration: none;
    padding-bottom: 0;
}
#newsletter-info input.button{
  width: auto;
  border: none;
}
form p {
  margin-bottom: 6px;
  font-size:13px;
}


section.news .button {
    margin: 0 auto;
}

.social li {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0;
}

.footer a.social{
    margin: 0;
    overflow: hidden;
    text-indent: 0;
    font-family:"f-alt_icons";
    font-size:24px;
    line-height: 1;
    width:21px;
    height:24px;
    padding:0;
    display:block;
}

.footer a.social:hover{
    padding: 0;
    border: 0;
    opacity: 0.5;}



.footer .inline-list > li {
  margin-right: 5px;
}




/************* NAV ***********/

nav {
  line-height: 27px;
}
.top-nav {
  padding: 15px 20px;
  top: 0;
  background-color: #363636;
  z-index: 1000;
  font-size: 13px;
  position: fixed;
  line-height: 1.1em;
  height: 30px;
  font-weight: bold;
  color: white;
  width: 100%;
}
.top-nav a:hover {
}

.top-nav nav {
  float: left;
}
.top-nav .inline-list{
height: 32px;
}

nav.main-menu {
    float: right;
    margin-right: 20px;
}
nav.main-menu ul {
  position: relative;
  overflow: initial;
}
nav.main-menu ul li {
  position: relative;
}
nav.main-menu ul li:hover >ul {
  display: block;
}
nav.main-menu ul.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  padding: 17px 0 0;
  list-style: none;
}
nav.main-menu ul.dropdown ul li {
  background-color: #363636;
  float: none;
  width: 220px;
}
nav.main-menu ul.dropdown ul li:hover {
  background-color: #5F5F5F;
}
nav.main-menu ul.dropdown ul li a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
}
nav.main-menu ul.dropdown ul li a:hover {
  border: none;
}

nav.language{
  margin-left: 50px;
}

nav.logo h1 {
  font-size: 13px;
  float: left;
  margin-top: 0;
}
nav.logo h1:not(.slogan) {
  width: 80px;
}
nav.logo h1.slogan {
  margin:0;
  font-size: 42px;
  margin-right: 5px;
}
nav.logo a:hover {
  border-bottom: none;
}

header nav:not(.logo), nav.categories {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 39px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 6px;
    line-height: 1.4em;
    float: none;
}

/*breadcrumbs*/
nav.breadcrumbs {
  font-size: 13px;
  margin-top: 10px;
}
nav.breadcrumbs a:hover {
  color: lightgrey;
  border: none;
}
nav.breadcrumbs a:after {
  color: lightgrey;
  content: "→";
  margin: 0 0.66667rem;
  position: relative;
  top: 1px;
}
nav.breadcrumbs a:last-child:after {
  content: "";
}
nav.breadcrumbs a:hover:after {
  color: lightgrey;
}
nav.breadcrumbs .current:hover {
  color: inherit;
  cursor: default;
}


/******** BANNER **********/


.banner{
    width: 800px !important;
}


.banner div {
  width: 46%;
  float: left;
  height: 30vh;
  margin: 30vh 12px 18vh;
}
.banner .slogan {
  font-size: 64px;
}
.banner a:hover{
  border-bottom: none;
}
.banner p:after {
  content: " →";
  font-family: "f-alt_icons";
}

.banner a:hover p:after {
  border-bottom: solid 2px;
}

.banner h1{
  font-size: 32px;
  margin-bottom: 0.4em;
}

/* ==========================================================================
        SLIDER 
==========================================================================*/

section.slider{
}

.slider a {
  padding: 0;
}
.slider a:hover {
  padding: 0;
  border: none;
}

.slider .gallery {
  margin-top: 10vh;
}
.slider .item {
  background-color: #363636;
  color: white;
  height: 68vh;
  position: relative;
  z-index: -2;
  margin: 0 12px;
}
.slider .cover {
  position: absolute;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  opacity: 0.5;
}
.slider .text {
    padding: 7px 10px 10px;

}
.slider h1{
    margin-bottom: 10px;
    font-size: 4vh;;
}
.slider h1.slogan{
    margin-bottom: 6px;
    font-size: 6vh;;
}
.slider h2{
    margin-top: 0;
    font-size: 2vh;
    margin-bottom: 10px;;
}
.slider .date-place{
    font-size: 16px;
}

.slider .cykl {
    padding: 2px 6px 5px;
    font-size: 12px;
}

/**** slider controls *****/

.owl-theme .owl-controls {
  margin-top: 10px;
}

.owl-theme .owl-controls .owl-page span {
  background: none;
  opacity: 1;
  filter: Alpha(Opacity=50);
  width: 8px;
  height: 8px;
  margin: 5px;
  border: solid 2px;
}

.owl-theme .owl-controls .owl-page.active span {
    background: #363636; 
}

.owl-theme .owl-controls .owl-buttons div{
  font-size: 20px;
  font-family: f-alt_icons;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
  }



/* ==========================================================================
          BRICK 
==========================================================================*/

article.brick, article.name-brick, article.video-brick {
    width: 241px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 11px;
    /*height: 400px;*/
    /*float: left;*/
}
article.grid-sizer, article.brick.grid-sizer:hover {
  width: 241px;
  border: none;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
article.calendar.brick {
  /*width: 584px;*/
  padding: 9px;
  padding-bottom: 20px !important;
  border: 2px solid;
  overflow: hidden;
}
article.brick h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

article.brick h1.slogan{
    font-size: 20px !important;
    padding-right: 50px;
    margin-bottom: 0;
}

article.brick h2 {
    font-size: 13px;
    border-bottom: none;
    margin-top: -3px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.brick hr {
  width: 200px;
}

.grey-filter {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.brick img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.brick .cykl{
    padding: 2px 6px 5px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 0px;
}


article.brick a:hover{
  border:none;
  padding-bottom: 0.3em;
}
article.brick:hover{
  padding:9px;
  border:2px solid;
}

article.brick .lead {
    font-size: 13px;
    line-height: 1.4em;
    overflow: hidden;
    max-height: 94px;
}

article.brick .lead p{
  margin-bottom: 0;
}

article.brick .lead p:last-child{
  margin-bottom: 4px;
}


article.brick .date-place {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.1em;
}

article.brick ul.category-list, article.brick .category{
    list-style: none;
    margin: 0px;
    padding: 0;
    font-size: 11px;
    line-height: 1.4em;
}

article.brick ul.category-list li {
    display: inline-block;
}

article.brick ul.category-list li a:hover{
  border-bottom: 1px solid;
  padding-bottom: 2px;
}


article.brick ul.category-list li a:after, .linked article.brick ul.category-list li:after {
  content: ", ";
}
article.brick ul.category-list li:last-child a:after, .linked article.brick ul.category-list li:last-child:after {
  content: " ";
}


.brick .job {
    font-size: 13px;
    border-bottom: none;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: -3px;
}



/* ==========================================================================
             POST ************* ABOUT            
========================================================================== */

.post{
}


.post header h2, .about header h2{
  margin-top: 0px;
  margin-bottom: 36px;
}

.post article:not(.brick), .about article:not(.brick), .privacy-policy article:not(.brick), .newsletter article:not(.brick) {
  width: 700px;
  margin-right: 40px;
}

.post h1 /*, .about h1*/ {
  margin-bottom: 15px;
}


.post article a[title], .post footer a[title] {
  cursor: default;
  border: none;
  padding: 0;
  margin: 0;
}
.post article a[title]:hover, .post footer a[title]:hover {
  border: none;
  padding: 0;
  margin: 0;
}

.post article p img {
  display: block;
  max-width: 50%;
}

.post article .gallery {
  margin-bottom: 24px;
}
.post article .gallery .item {
  width: 100%;
  /*height: 450px;*/
}
.post .gallery .item img {
  width: 100%;
  height: auto;
  display: block;
}
.post .gallery .item p {
  margin-bottom: 0;
}

/***ASIDE***/
.post:not(.bio) article:not(.brick) {
  float: left;
}
.post aside {
  width: 450px;
  float: left;
}
.post aside > h2 {
  margin-top: 0;
  margin-bottom: 10px
}
.post aside > h2.slogan {
  margin-top: 40px;
  margin-bottom: 0;
}
.post aside > h2.slogan:first-of-type {
  margin-top: 0;
}
.post aside .gallery .item {
  width: 450px;
  height: 320px;
}
.post aside #googleMap {
  height: 320px;
}
.post aside article {
    color: initial;
}
.post.o-nas article {
  float: none !important;
}
.post.o-nas aside {
  float: none;
  width: 100%;
}

/***POST VIDEO***/
.post .video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 10px;
}
.post .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
.about header {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 900px;
}
*/
.about article header h1{
  font-size: 36px;
}

.about article header h1.slogan{
  font-size: 46px;
  margin-bottom: 0;
}

.partners {
  width: 700px;
}

article #googleMap {
  width: 100%;
  height: 450px;
}

.partners ul {
 list-style: none;
 overflow: auto;
 padding-left: 0;
 overflow: initial;
}
.partners ul > li {
 width: 140px;
 height: 120px;
 margin-right: 20px;
 margin-bottom: 40px;
 float: left;
}

.partners img {
 width: 100%;
}

/*.linked {
  width: 637px;
  float: left;
  position: absolute;
  top: 310px;
  left: 792px;
}

.linked .container{
}*/

.post-body nav:not(.breadcrumbs) {
  display: none;
}

.post header .cykl {
 padding: 3px 9px 6px;
 font-size: 14px;
 margin-bottom: 20px;
}

.post header .category-list,  .post header .date, .post header .category {
  /*display: inline;
  float: left;*/
  margin-bottom: 12px;
}

.post header .category-list li {
  margin-right: 0.4em;
}

.post header .category-list li.label {
  font-weight: 700;
}

.post header .category-list li:not(.label):after {
  content: ", ";
}
.post header .category-list li:last-child:after {
  content: " ";
}

.post header .job {
    font-size: 26px;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.1em;
}

.post.bio {
    color: #363636;
}

.post iframe, .post audio{
width: 100%;;
margin-bottom: 12px;
}

/*** FOOTER ***/
section.footer {
margin-top: 100px;
min-height: 200px;
color: initial;
}
 .footer {
 overflow: auto;
 padding-top: 36px;
 padding-bottom: 36px;
}
.footer header {
 overflow: auto;
 margin-bottom: 10px;
 height: auto;
}
.footer h1 {
 font-size: 12px;
 line-height: 18px;
}
.footer h1.slogan {
 font-size: 48px;
 line-height: 34px;
}

.footer article, .post .footer article, .about .footer article, .newsletter .footer article, .privacy-policy .footer article {
    width: 263px;
    margin-right: 20px;
    float: left;
}
/*
.footer article:nth-of-type(3n) {
    margin-right: 0;
}
*/

.footer a.fb:hover {
  background-position: center -24px;
}
.footnote {   /*** UWAGA: prawdopodobnie do globalnych ***/
  font-size: 13px;
  line-height: 1.4em;
  margin-bottom: 12px;
}







/***** KALENDARZ *****/



/************ KALENDARZ ***********/

/********** CLNDR controls *******/
.clndr-controls > div {
  float: left;
  width: 33%;
}
.clndr-controls {
  overflow: auto;
  margin-bottom: 10px;
}
.clndr-controls .month {
  text-align: center;
}
.clndr-control-button span {
  cursor: pointer;
  font-family: f-alt_icons;
}
.clndr-control-button.rightalign {
    text-align: right;
}

/*HEADER DAYS*/
td.header-day {
  padding-bottom: 5px;
}

/*DNI TYGODNIA*/
/*CLNDR DNI*/
.clndr-table {
  width: 100%;
}

.day {
  background-color: rgba(54, 54, 54, 0.1);
  border: white solid 2px;
}
.day.event {
  background-color: rgba(54, 54, 54, 0.6);
  cursor: pointer;
}
.day.event:hover {
  color: white;
  background-color: rgb(54, 54, 54);
}
.day.today {
  /*background-color: rgba(54, 54, 54, 0.5);*/
}
.day-contents {
  /*
  width: 12vw;
  height: 13vh;
  */
  width: 14.25%;
  height: 25px;
  font-size: 12px;
  line-height: 1em;
  padding: 0 5px 10px;
}
.day.today .day-contents {
  font-weight: bold;
  padding-left: 3px;
}

.events-container {
  height: 100px;
  position: relative;
}
.event-details {
  font-size: 13px;
  line-height: 1.4em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.event-details > div {
  cursor: pointer;
}

.calendar .event-info {
  background-color: rgb(54, 54, 54);
  height: 60%; 
  width: 87%;
  position: absolute;
  top: 100%;
  font-size: 14px;
  color: white;
  padding: 10px;
  z-index: 999;
}
.calendar .event-info .close {
  font-family: "f-alt_icons";
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.calendar .event-info .close:hover {
  background-color: rgb(155, 155, 155);
}
.calendar .event-info p:first-of-type {
  margin-bottom: 12px;
}
.calendar .event-info p {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.calendar .event-info p span {
  font-size: 20px;
  font-weight: bold;
}
.calendar .screen a {
  padding-bottom: 0;
}
.calendar .screen a:hover {
  border-bottom: 0.16em solid;
  padding-bottom: 0;
}

/*style dla plaginu prefectScrollbar.js*/
.always-visible.ps-container > .ps-scrollbar-x-rail, .always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6;
}
.ps-container >  .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 4px;
}
.clndr .more {
  width: 10px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
.event .hour {
  font-weight: bold;
}

.clndr-previous-button {
  text-indent: 1000px;
  overflow: hidden;
}


/*SEARCH*/
.search a {
  display: inline;
}
.search span.keyword {
  color: rgba(0, 0, 0, 0.5);
}
nav.search-menu {
  width: 250px;

  float: right;
}
#search-form {
  margin-top: -2px;
  margin-right: 40px;
}
#search-form input {
  display: inline;
  float: left;
}
#search-form input[type = "text"] {
  width: 165px
}
#search-form input[type = "submit"] {
  width: 30px;
  height: 31px;
  line-height: 21px;
  font-family: "f-alt_icons";
}
#search-form input[type = "submit"]:hover {
  color: rgba(54, 54, 54, 0.5);
}

/***** NEWSLETTER *****/
.newsletter h2 {
  margin-top: 0;
}
.newsletter form:not(#search-form) {
  width: 50%;
}
.newsletter .button {
  margin-top: 10px;
}
.newsletter .footer form {
  width: initial !important;
}


/***** NEWSLETTER *****/
.privacy-policy ol ul {
  list-style-type: disc;
  padding-left: 1.5em;
}




/************* KOLORY KATEGORII **************/


.stacja-transformacja {
    color: rgb(82, 7, 106) !important;
}

.stacja-transformacja  .owl-theme .owl-controls .owl-page.active span {
  background: rgb(82, 7, 106);
}


.palermo {
    color: rgb(7, 116, 88) !important;
}

.palermo .owl-theme .owl-controls .owl-page.active span {
  background: rgb(7, 116, 88);
}

.publikacje, .publikacje .owl-theme .owl-controls .owl-page.active span {
  color: rgb(0, 118, 132) !important;
}

.stacja-transformacja-nadaje {
	color: rgb(172, 44, 52) !important;
}
.stacja-transformacja-nadaje .owl-theme .owl-controls .owl-page.active span {
	background-color: rgb(172, 44, 52) !important;
}

/* TEMP */
.magenta, .magenta .owl-theme .owl-controls .owl-page.active span {
  color: rgb(199, 41, 135) !important;
}

.seledynowy, .seledynowy .owl-theme .owl-controls .owl-page.active span {
  color: rgb(0, 118, 132) !important;
}



/***** LOGO ALTERNATIVA 2015 *****/
a.alt2015 {
  background: #363636 url("../images/logo-alt2015.png") no-repeat center 10px;
  display: inline-block;
  width: 122px;
  height: 22px;
}
a.alt2015:hover {
  padding-bottom: 0.3em;
}